@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Oswald:wght@400;700&display=swap');

/* RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* globals */

:root {
    --dark: #181818;
    --gold: #CC9A4F;
    --accent: #61BC90;

    --ff-bold: 'Oswald', sans-serif;
    --ff-regular: 'Manrope', sans-serif;
}

.text-accent {
    color: var(--accent);
    font-weight: 700;
}

.today {
    background-color: var(--accent);
    color: var(--dark);
    border-radius: 50%;
}

.txt-sm {
    font-size: .9rem;
}

/* color date on hover */
.first-day:hover,
.first-day~li:hover {
    background-color: var(--accent);
    color: var(--dark);
    border-radius: 50%;
}

.no-event-text {
    font-size: 3rem;
    font-weight: 700;
    margin: 2.4rem 0;
    color: var(--accent);
}

.owl-effect>*+* {
    margin-top: 1rem;
}

.mgt-2 {
    margin-top: 2rem;
}

.mgt-5 {
    margin-top: 5rem;
}

.pdt-2 {
    padding-top: 2rem;
}

.pdtb-2 {
    padding: 2rem 0;
}

.w-3 {
    max-width: 90%;
    margin: 2px;
}

.mgb-2 {
    margin-bottom: 2rem;
}

body {
    background-color: var(--dark);
    color: white;
    font-family: var(--ff-regular);
}

h1,
h2,
h3,
li {
    font-family: var(--ff-bold);
}

.container {
    width: min(1101px, 85%);
    margin: 20px auto;
}

.heading {
    border-bottom: 5px solid var(--gold);
    border-bottom-style: double;
    width: max-content;
}

.line-above {
    border-top: 5px solid var(--gold);
    border-top-style: double;
    /* width: max-content; */
}

.line-above-below {
    border-top: 5px solid var(--gold);
    border-top-style: double;
    border-bottom: 5px solid var(--gold);
    border-bottom-style: double;
    /* width: max-content; */
}


/* Login */
.form-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.4rem;
    /* align-items: ; */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--gold);
    padding: 4rem;
    border-radius: .6rem;
}

input,
button,
textarea,
datalist {
    font: inherit;
}

input {
    border: 1px solid var(--gray);
    border-radius: .6rem;
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
    text-align: start;
    color: var(--dark);
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
}

input::placeholder {
    color: #797B79;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

a:hover,
a:hover,
.login-btn:hover,
.login-btn:active {
    opacity: 0.5;
    transition: 0.5;
}

input:active,
input:focus,
datalist:active,
datalist:focus {
    border: 1.5px solid var(--dark);
    color: var(--dark);
    outline: 0;
}

.login-btn {
    min-width: 12.5rem;
    min-height: 4rem;
    font-family: var(--ff-bold);
    font-size: 1.4rem;
    border: none;
    background-color: var(--dark);
    color: var(--gold);
    padding: .5em 1.5em;
    box-shadow: 0px 4px 4px rgba(192, 192, 192, 0.25);
    border-radius: .6rem;
    cursor: pointer;
    text-align: center;
}

.login-btn:hover {
    opacity: .95;
}

.logo {
    margin: 0 auto;
}

.logo-container {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

/* dashboard */
.event-floors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.event-floors img {
    width: 300px;
    height: 165px;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.171) 0px 25px 50px -12px;
}

.event-floors article {
    flex-basis: 33.333333%;
    margin-top: 2rem;
}

.event-floors article h2 {
    margin-top: .8rem;
}

/* event summary || rooftop*/

.event-summary {
    margin-top: 4rem;
    display: flex;
    gap: 10%;
}

.sidebar {
    height: max-content;
}

.double-flex-container {
    display: flex;
    justify-content: space-evenly;
}

.side-bar {
    flex-basis: 50%;
    max-width: 3px;
}

.main-content {
    flex-basis: 50%;
}

.main-content .event-summary--text {
    padding: 2rem;
    border: 1px solid var(--gold);
    margin-top: .7rem;
    border-radius: .8rem;
}

.event-summary--text h3 {
    color: var(--gold);
    margin-bottom: .45rem;
}

.event-summary--text button,
.event-summary--text .btn {
    margin-top: 1.6rem;
    margin-right: .5rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.main-content h2 {
    font-size: 2.5rem;
}

.main-content h3 {
    font-size: 1.7rem;
}

.main-content header {
    display: flex;
    justify-content: space-between;
}

button,
.btn {
    border: 1px solid var(--gold);
    border-radius: .8rem;
    font-size: 1.4rem;
    padding: .5rem 1.2rem;
    color: white;
    background-color: var(--dark);
    font-family: var(--ff-bold);
    cursor: pointer;
    text-align: center;
}

.btn-uno {
    color: var(--dark);
    background-color: var(--gold);
}

.btn-uno:hover,
.btn-uno:active {
    color: white;
}

.btn-cancel {
    background-color: rgb(141, 1, 1);
    color: white;

}

.btn-bookevent {
    display: flex;
    align-items: center;
}

.show-all {
    border-bottom: 5px solid var(--gold);
    /* border-bottom-style: double; */
    width: max-content;
}

.event-summary button:hover,
.btn:hover {
    background-color: var(--gold);
    transform: 0.2;
    opacity: 1;

}

.active {
    color: var(--gold);
}

/* calendar */

.calendar-wrapper {
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.calendar-wrapper .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-wrapper .first-day {
    grid-column-start: 3;
}


.calendar-wrapper .calendar-wrapper {
    width: 280px;
}

.weekday {
    background: var(--gold);
}

.calendar-wrapper h1 {
    text-align: left;
}

.calendar-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* create an event */
.book-event input,
.book-event select {
    border: 1px solid var(--gray);
    border-radius: .6rem;
    font-size: 1.4rem;
    padding: .3rem .6rem;
    text-align: start;
    color: var(--dark);
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
}

.book-event form {
    background-color: initial;
    border: 1px solid var(--gold);
}

.book-event label {
    font-size: 1.5rem;
}

.book-event input,
.book-event select,
.sub-label-contents label,
.sub-label-contents input {
    font-size: .8rem;
}

.sub-label-contents--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    margin-bottom: 5rem;
}