<section class="sidebar sticky">
    <div>
        <h1 class="heading">Rooftop View</h1>
        <div class="calendar-wrapper">
            <h1>November</h1>
            <ul class="calendar">
                <li class="weekday">Sun</li>
                <li class="weekday">Mon</li>
                <li class="weekday">Tue</li>
                <li class="weekday">Wed</li>
                <li class="weekday">Thu</li>
                <li class="weekday">Fri</li>
                <li class="weekday">Sat</li>

                <li class="first-day">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li class="today">24</li>
                <li>25</li>
                <li><a href="no-event.html">26</a></li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
            </ul>
        </div>
        <a class="show-all">Show All Events ></a>
    </div>
    <ul>
        <li><a href="dashboard.html">Home</a></li>
        <li><a href="rooftop.html" class="active">Rooftop view ></a></li>
        <li><a href="">Maradiva</a></li>
        <li><a href="">788 on the Sea</a></li>
        <li><a href="">Chai Tang</a></li>
        <li><a href="">Rufus & Bee</a></li>
        <li><a href="">Bowling Games & Bar</a></li>
    </ul>
</section>